@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Motiva Sans';
        src: url('/fonts/MotivaSansRegular.ttf') format('truetype');
    }
}

body {
    font-family: 'Motiva Sans';
}
